@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yose The Game</title>
</head>
<body>
    <h1>Hello Yose</h1>
    <a id="contact-me-link" href="http://surtongrill.com">Benoit Champagne</a>
    <a id="ping-challenge-link" href="http://surtongrill.com/ping">PING!</a>
</body>
</html>
